

<!-- <ion-content class="background" scroll="false">
<span class="hh"><h1>MGF</h1></span>
</ion-content> -->

<ion-content>
  <div>
    <img src="https://images.unsplash.com/photo-1637430308606-86576d8fef3c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80">
  </div>
</ion-content>

<ion-button color="tertiary" class="btn" (click)="login()">Login</ion-button>
<ion-button color="primary" fill="clear" class="btn" (click)="signup()">Sign Up</ion-button>