<ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="signupForm">
    <ion-list>
      <ion-item>
        <ion-label>First Name</ion-label>
        <ion-input type="email" placeholder="Enter First Name" formControlName="first_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Last Name</ion-label>
        <ion-input type="email" placeholder="Enter Last Name" formControlName="last_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Contact Number</ion-label>
        <ion-input type="email" placeholder="Enter Number" formControlName="contact"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="email" placeholder="Enter Email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password" placeholder="Enter Password" formControlName="password"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="block" (click)="signup()">Sign Up</ion-button>
    <ion-button expand="block" color="tertiary" (click)="login()">Already a member? Login!</ion-button>
    </form>
</ion-content>
