<ion-header>
  <ion-toolbar>
    <ion-title>upperbody-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-card-header>
      <img class="bg" src="https://images.unsplash.com/photo-1541534741688-6078c6bfb5c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80">
      <ion-card-title>Upper Body</ion-card-title>
    </ion-card-header>
  
    <ion-icon name="chevron-back-circle-outline" class="icon" (click)="back()"></ion-icon>

  </ion-card>

  <div *ngFor="let exercise_item of exercises" (click)="exercisePage()"> 
    <app-exercise [exercise]="exercise_item"></app-exercise>
    </div>

</ion-content>
